
.navigation {
  z-index: 2;
  grid-area: n;
  padding: 15px;

}
.item {
  color: #0B0E1B;
  text-decoration: none;
  font-style: italic;
}
.active {
  color: #E8D460;
  text-decoration: none;
  font-style: italic;
}
