
.navigation {
  background-color: antiquewhite;
  grid-area: n;
}
.item {
  color: crimson;
  text-decoration: none;
  font-style: italic;
}
.active {
  color: darkgoldenrod;
  text-decoration: none;
  font-style: italic;
}
