.app-wrapper {
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
    grid-auto-columns: 1fr 10fr;
    grid-gap: 10px;
  background-image: url("/src/images/background-login.jpg");
  min-height: 100vh;
  justify-content: center;
  align-items: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;

}
.app-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
  pointer-events: none;
}
.app-content {
  z-index: 2;
}
.page {
  position: absolute;
}
.page-enter-active {
  animation: fade-in 1s forwards;
}
.page-exit-active {
  animation: fade-out 1s forwards;
}
